header{
    background-color: black;
    padding: 40px;
    width: 500px;
    margin-left: 30%;
    margin-top: 60px;
}
header p{
    
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-left: 50px;
    font-weight: bold;
}
body{
    background-color: gray;
    background-attachment: fixed;
}
main{
    text-indent: initial;
    text-align: center;

}
article img{
    margin-top: -30%;
    box-shadow: 100px;
}
main mark{
    color: rgb(255, 0, 0);
}